{% extends 'base.html' %}

{% block cards_detail %}
<h5>Категорія: {{ category.title }}</h5>
<section class="descrEl-wrapper">
    <div class="card mb-3 descrEl">
        <img src="{{ card.image.url }}" class="card-img-top" alt="{{ card.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.desc|safe }}</p>
          
          <div class="img-cart-shots">
            <p>
              {% for image in card.img_card.all %}
                <img src = "{{ image.image.url }}" class = "img-fluid" alt="">
              
              {% endfor %}
            </p>  
          </div>
          
        </div>
      </div>
</section>
{% endblock %}